<nav>
  <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden;">
    <li style="float: left;"><a href="https://caseus7.github.io/Dragon-Boat-Z/" style="display: block; color: white; text-align: center; padding: 14px 24px; text-decoration: none;">Home</a></li>
    <li style="float: left;"><a href="https://caseus7.github.io/Dragon-Boat-Z/assessment1" style="display: block; color: white; text-align: center; padding: 14px 24px; text-decoration: none;">Assessment 1</a></li>
    <li style="float: left;"><a href="https://caseus7.github.io/Dragon-Boat-Z/assessment2" style="display: block; color: white; text-align: center; padding: 14px 24px; text-decoration: none;">Assessment 2</a></li>
  </ul>
</nav>
