<nav>
  <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden;">
    <li style="float: left;"><a href="{{site.baseurl}}/" style="display: block; color: white; text-align: center; padding: 14px 24px; text-decoration: none;">Home</a></li>
    <li style="float: left;"><a href="{{site.baseurl}}/assessment1" style="display: block; color: white; text-align: center; padding: 14px 24px; text-decoration: none;">Assessment 1</a></li>
    <li style="float: left;"><a href="{{site.baseurl}}/assessment2" style="display: block; color: white; text-align: center; padding: 14px 24px; text-decoration: none;">Assessment 2</a></li>
    <li style="float: left;"><a href="https://github.com/caseus7/Dragon-Boat-Z" style="display: block; color: white; text-align: center; padding: 14px 24px; text-decoration: none;">View on GitHub</a></li>
  </ul>
</nav>
